// Here you can add other styles
.app-footer {
	display: none;
}
.title-header {
  color: red;
}
.react-datepicker-wrapper {
  width: 100%;
}
.btn-search {
	.btn-primary {
		color: #fff;
		background-color: #20a8d8;
		border-color: #20a8d8;
		&:hover {
			background-color: #08779e;
		}
	}
}
/*Start table*/
.table-common {
	thead {
		th {
			font-size: 11px;
			background: #f0f1f2;
		}
	}
	tbody {
		tr {
			td {
				padding: 8px 4px;
				vertical-align: middle;
				max-width: 140px;
			}
		}
	}
}
.pag-left {
	display: inline-block;
	.select-pagination {
		display: inherit;
    width: 100px;
    margin: 0 10px;
	}
}
.pag-right {
	float: right;
}
/*End table*/

/*Start Nav*/
ul.nav-dropdown-items {
	.nav-icon {
		display: none !important;
	}
}
.sidebar {
	.nav-dropdown-items {
		.nav-link {
			padding-left: 2.2rem;
		}
	}
	.nav-link {
		padding: 0.75rem 0.6rem;
	}
}
/*End Nav*/  

/*Start Fee manager*/
.gp-add-fee {
	padding: 15px;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}
.card-header {
	.text-bold {
		font-size: 18px;
		font-weight: 700;
	}
}
.permission-title {
	margin-left: 1.25rem;
}
.form-submit {
	width: 100%;
}
.icon-fee {
	button {
		background-color: inherit;
		border: 0;
		padding: 5px;
		&:hover {
			background-color: inherit;
		}
	}
}
/*End manager*/ 