// Here you can add other styles
.app-footer {
	display: none;
}
.title-header {
  color: red;
}
.react-datepicker-wrapper {
  width: 100%;
}
.btn-search {
	.btn-primary {
		color: #fff;
		background-color: #20a8d8;
		border-color: #20a8d8;
		&:hover {
			background-color: #08779e;
		}
	}
}
/*Start table*/
.table-common {
	thead {
		th {
			font-size: 11px;
			background: #f0f1f2;
		}
	}
	tbody {
		tr {
			td {
				padding: 8px 4px;
				vertical-align: middle;
				max-width: 140px;
			}
		}
	}
}
.pag-left {
	display: inline-block;
	.select-pagination {
		display: inherit;
    width: 100px;
    margin: 0 10px;
	}
}
.pag-right {
	float: right;
}
/*End table*/

/*Start Nav*/
ul.nav-dropdown-items {
	.nav-icon {
		display: none !important;
	}
}
.sidebar {
	.nav-dropdown-items {
		.nav-link {
			padding-left: 2.2rem;
		}
	}
	.nav-link {
		padding: 0.75rem 0.6rem;
	}
}
/*End Nav*/  
